::ng-deep .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

div {
  padding-left: 15%;
}

.title {
  font-size: x-large;
  color: #3F51B5;
}

button {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 70vw;
}

.start {
  margin-bottom: -25px;
}

mat-checkbox {
  margin-left: 15px;
}